* {
  font-family: "Times New Roman", Times, serif;
}
h1 {
  text-align: center;
}

#blank {
  border: 2px solid black;
}

#blank:hover {
  background-color: rgb(220, 220, 220);
}

.title {
  background-color: white;
  display: inline-block;
  margin-left: 38%;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
  border: 2px solid black;
}

.search-section {
  text-align: center;
  padding: 2px;
  margin-top: 10px;
}

#search {
  border: 2px solid black;
  height: 2.5em;
}

#search:hover {
  background-color: lightgreen;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 10px;
  font-size: 1.6em;
}

.food-input:nth-child(2n) {
  background-color: lightgreen;
}

.food-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  height: 20%;
  text-align: center;
  position: relative;
}

.box {
  border: 5px solid black;
  margin: 10px;
  border-radius: 10px;
  height: 30vh;
  width: 25%;
  background-color: white;
}

.input5 {
  border: 0;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  height: 20%;
  text-align: center;
  position: relative;
}

.second {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  height: 20%;
  text-align: center;
}

.carbohydrates1 {
  border: 0;
}

.carbohydrates2 {
  border: 0;
}

.tracker,
.benefits,
.nutrients {
  border: 1.5px solid black;
  border-radius: 20px;
  background-color: white;
  padding: 7px;
}

.center {
  display: block;
  margin: 0 auto;
  height: 25em;
}

.description {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  font-size: 1.3em;
}

.description-2 {
  padding-top: 10px;
  height: 80%;
  width: 80%;
  margin: 0 auto;
  font-size: 1.3em;
}

body {
  background: linear-gradient(to right, rgb(249, 241, 241), rgb(87, 235, 129));
}

input {
  height: 2em;
  font-size: 13px;
  padding: 2.5px;
  text-align: center;
  padding-top: 6px;
}

input::placeholder {
  font-size: 1.5em;
}

.sentence {
  padding-top: 10px;
  height: 80%;
  width: 80%;
  margin: 0 auto;
  font-size: 1.3em;
}

.lastpart {
  display: none;
  border: 1.5px solid black;
  border-radius: 20px;
  background-color: white;
  padding: 7px;
  font-size: 1.3em;
  width: 50%;
  margin: 0 auto;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  html {
    width: 263vw;
    padding-top: 8vh;
    padding-bottom: 8vh;
  }
}
